%h1 Listing Subject Item Notes

%table.table.table-condensed
  %thead
    %tr
      %th Subject Item Note
      %th Student Name
      %th

  %tbody
    =render subject_item_notes
%br

= link_to 'New Subject item note', new_subject_item_note_path
