%h1 Listing subject_items

%table
  %thead
    %tr
      %th Subject title with assigned teacher
      %th
      %th
      %th

  %tbody
    =render subject_items

= link_to 'New Subject item', new_subject_item_path
