%h1 Listing Subject Items

%table.table.table-condensed
  %thead
    %tr
      %th Subject title
      %th Teacher name
      %th

  %tbody
    =render subject_items

= link_to 'New Subject item', new_subject_item_path, class: 'btn btn-secondary'
