@import "framework_and_overrides";

#navbarColor01.collapse.navbar-collapse {

  a {
    color: $white;

    &:visited {
      color: $white;
    }

    &:hover {
      color: $white;
      background-color: $gray-500;
    }
  }
}

.dropdown-menu {
  background-color: $gray-500;
  margin-bottom: 10px;
  padding-left: 15px;
  color: black;
}


a {
  color: $black;

  &:visited {
    color: $black;
  }

  &:hover {
    color: $black;
    background-color: $gray-300;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
