@import "framework_and_overrides";

html {
  min-height: 100%;
  position: relative;
}

body { margin-bottom: 150px; }

.about a {
  color: $white;
  font-weight: bold;
}

footer.footer {
  background-color: $gray-600;
  border-top: 1px solid $black;
  bottom: 0;
  max-height: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  width: 100%;

  ul#footer_nav {
    margin: 0;
    padding: 0;
    display: block;

     li {
      display: inline;
      margin-right: 2em;

      &.separator {
        margin-left: -.35em;
        margin-right: 2em;
        opacity: 0.6;
      }

      &:last-child {
        margin: 0;
      }
    }

    a {
      color: $white;
    }
  }
}
