@import "framework_and_overrides";

body {
  background-color: $white;
  color: $black;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: $headings-font-family;
  font-size: 15px;
  line-height: 20px;
}

li {
  font-family: $headings-font-family;
  font-size: inherit;
  color: $white;
  line-height: 20px;
  margin-right: 20px;
}

pre {
  background-color: $white;
  padding: 10px;
  font-size: 11px;
}


.header {
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
  font-size: $fs-0;
  z-index: $z-index-2;
  margin-top: 100px;
  padding-left:  50px;
}



#notice {
  color: green;
  font-size: inherit;
  font-family: inherit;

}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;

}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $white;

  h2 {
    text-align: left;
    font-family: $headings-font-family;
    padding: 5px 5px 5px 15px;
    font-size: inherit;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: inherit;
    font-family: $headings-font-family;
    list-style: square;
  }
}
