%footer#footer
  .footer-links
    .footer-links-container
      = link_to "About", root_path, class: "footer-link"
      = link_to "FAQ", root_path, class: "footer-link"
  .footer-social
    = link_to "https://github.com/katguz3485/ror_task-master" do
      %span.accent.fa.fa-github{"aria-label" => "github"}
    = link_to "https://github.com/katguz3485/ror_task-master" do
      %span.accent.fa.fa-linkedin{"aria-label" => "linkedin"}

