%footer.footer
  .container
    .about.pull-left
      = link_to 'About', root_path
    %ul#footer_nav.pull-right
      = link_to "https://github.com/katguz3485/ror_task-master" do
        %span.accent.fa.fa-github{"aria-label" => "github"}
      = link_to "https://www.linkedin.com/in/kguzik" do
        %span.accent.fa.fa-linkedin{"aria-label" => "linkedin"}




